/* Generic styling */

h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

button:focus, input:focus {
    outline: none;
}

[v-cloak] {
    display: none !important;
}

.fade-enter-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

/* Sections */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

#app {

}

.header {

}

.main {

}

.products {

}

.cart {

}

/* Header */

h1 {

}

.searchbar {

}

.searchbar > input {

}

.searchbar > input[type=submit] {


/* Products */

.product-list {

}

.search-results {

}

.search-results .search-term {

}

.product {

}

.product:first-child {

}

.product > div:first-child {

}

.product > div:last-child {

}

.product-image {

}

.product-image > img {

}

.product-title {

}

.product .add-to-cart {

}

#product-list-bottom {

}

/* Cart */

.cart {

}

.cart .empty-cart {

}

.cart > h2 {

}

.cart ul {

}

.cart ul li {

}

.cart ul .cart-item {

}

.cart ul .cart-item .item-title {

}

.cart ul .cart-item .item-price {

}

.cart ul .cart-item .item-qty {

}

.cart ul .cart-item:last-child {

}

.cart ul .cart-item button {

}
